<mat-toolbar color="primary" class="header-container">
  <mat-toolbar-row>
      <img _ngcontent-odm-c51="" src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" style="width: 40px;height: 40px;" alt="angular" class="docs-angular-logo">
      <span class="header-logo"> {{ headerLogoTest }}</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">import_export</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>