<mat-toolbar color="primary" class="footer-container">
  <mat-toolbar-row>
      <span class="footer"><img _ngcontent-odm-c51="" src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" style="width: 125px;height: 70px;" alt="angular" class="docs-angular-logo">{{ technologies }}</span>
      <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>