<div class="csvfilecontainer" (click)="csvInput.click()" appDragDrop (onFileDropped)="csvUploadFile($event)">
  <div class="uploadTitle">{{ uploadText }}</div><input class="inputFile" hidden type="file" #csvInput (change)="csvUploadFile($event.target.files)">
</div>

<mat-chip-list aria-label="CSV Selection" *ngIf="fileDetail">
  <mat-chip>{{ uploadedFileName }}</mat-chip>
  <mat-chip color="primary" selected>Name : {{ fileDetail.name }}</mat-chip>
</mat-chip-list>