.csvfilecontainer {
    background-image: url("../../assets/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size: 76px;
    background-position: center;
    height: 93px;
    width: 51%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        background-color: #9ecbec;
        opacity: 0.8;
    }
    .uploadTitle {
        padding: 10px 15px;
        font-size: 12px;
        color: #1C8ADB;
    }
}