.file-upload-error{
    color: #fff;
    width: 50%;
    margin: 22px auto;
    text-align: center;
    padding: 15px;
    background: #f7d07a;
    box-sizing: border-box;
    text-decoration: blink;
    font-weight: 500;
    text-transform: uppercase;
    mat-icon {
        vertical-align: middle;
        margin-right: 10px;;
    }
}